.header {
  .header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: black;
    text-decoration: underline;
  }

  .logo__block {
    font-size: 24px;
  }

  .navigation__block {
    .nav__list {
      ul {
        display: flex;

        .nav__list__item {
          font-size: 18px;
          text-decoration: underline;
        }

        .nav__list__item:not(:last-child) {
          margin-right: 14px;
        }
      }
    }
  }
}
